= simple_form_for(@project) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name, label: t("projects.name")
    = f.input :description, label: t("projects.description"),input_html: {rows:10}
    = f.input :projectNo, label: t("projects.projectNo")
    = f.input :targetfob, label: t("projects.targetfob")
    = f.input :startDate, label: t("projects.startDate"),:as => :datepicker
    = f.input :endDate, label: t("projects.endDate"),:as => :datepicker
    = f.input :realEndDate, label: t("projects.realEndDate"),:as => :datepicker
    /= f.input :isValid, label: t("isValid")

  .form-actions
    = f.button :submit
