.container-fluid
  .row-fluid
    / My Projects Tab
    .tabbable.tabs-left
      %ul.nav.nav-tabs
        %li.active
          %a(href="#tab-my-projects" data-toggle="tab") My Projects
        %li  
          %a(href="#tab-my-projects" data-toggle="tab") My Finished Projects
      .tab-content
        .tab-pane.active#tab-my-projects
          / New project button
          = button_to 'New Project',
                      new_project_path, 
                      form:{"data-replace" => "#new-project"}, 
                      method:"get", 
                      remote:true, 
                      class:"btn btn-success"
          #new-project
          / List table of projects
          %table.table.table-striped.table-hover.talbe-condensed
            %tr
              %th=t "projects.name"
              %th=t "projects.description"
              %th=t "projects.projectNo"
              %th=t "projects.targetfob"
              %th=t "projects.startDate"
              %th=t "projects.endDate"
              %th=t "projects.realEndDate"
              %th=t "isValid"
              %th
              %th
              %th

            - @projects.each do |project|
              %tr
                %td= link_to project.name, project
                %td= project.description
                %td= project.projectNo
                %td= project.targetfob
                %td= project.startDate
                %td= project.endDate
                %td= project.realEndDate
                %td= project.isValid
                %td= link_to 'Show', project
                %td= link_to 'Edit', edit_project_path(project)
                %td= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' }
          
