.row
  %h2=t "login"
  = simple_form_for(resource, :as => resource_name, :url => session_path(resource_name),:html => {:class => "form-horizontal"}) do |f|
    = f.input :name, :placeholder => t("placeholder.userName")
    = f.input :password, :placeholder => t("placeholder.password")
    - if devise_mapping.rememberable?
      = f.input :remember_me, as: :boolean, inline_label: 'Remember me',label: false
    .control-group
      .controls
        = f.button :submit, "Login"
    .control-group
      .controls    
        = render "devise/shared/links"
